## `Set`
- Initialized using `set()` constructor.

In [3]:
set_z={1,2,3,}
print(set_z)

{1, 2, 3}

In [3]:
set_a= set() 
print(set_a,type(set_a))

set() <class 'set'>

- Data can be added using `add()` using `update()`<br/>
`update()` has ability to add elements from other iterables like `List`, `Tuple`, `Dictionaries`.

In [5]:
set_a.add(1)
print(set_a)
list=[11,12,13]
set_a.update(list)
print(set_a)

{1, 11, 12, 13}
{1, 11, 12, 13}

In [5]:
print(set_z)
set_z.add(8)
print(set_z)

{1, 2, 3}
{8, 1, 2, 3}

In [15]:

print(set_a)
set_a.add(2)
print(set_a)

set()
{2}

- Can store different data types

In [9]:
set_c={1,2.5,'Hi',True}
print(set_c)

{'Hi', 2.5, 1}

- Unordered

- Unchangeable

- Unique data

In [11]:
set_d={1,1,2.5,'hi',True,2.5,1}
print(set_d)

{1, 2.5, 'hi'}

- Number of elements in set

In [12]:
print(len(set_d))
print(set_d)

3
{1, 2.5, 'hi'}

- Remove data with `remove()` and `discard()`.<br/>
What is the difference? discard() won't raise error for no existance of element.

In [18]:
set_f={1,2,3,4,5}
print(set_f)
set_f.discard(1)

print(set_f)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [18]:
set_z.remove(8)

print(set_z)

{1, 2, 3}

- `pop()` removes random item returing the popped item.

In [21]:
set_a.pop()
print(set_a)

{11, 12, 13}

- Remove all elements using `clear()`

- Remove the set using `del` keyword.

- Join two sets using `union()` returning new set.

In [20]:
set_a={1,2}
set_b={3,4}
result=set_a.union(set_b)
print(result)

{1, 2, 3, 4}

- Find common items in both sets using `intersection()` returning new set.<br/> [`intersection_update()` has Inplace Updation.]

In [26]:
a={1,2,3,4}
b={3,4}
a.intersection_update(b)
print(a)

{3, 4}

In [24]:
a={1,2,3,4}
b={3,4}
c=a.intersection(b)
print(c)

{3, 4}

- Find non common items in both sets using `symmetric_difference()` returning a new set.<br/> 
[`symmetric_difference_update()` has Inplace Updation.]

In [30]:
print(b)
b.symmetric_difference_update(a)
print(b)

{3, 4}
{1, 2}

In [29]:
a={1,2,3,4}
b={3,4}
c=a.symmetric_difference(b)
print(c)

{1, 2}

- `True` and `1` is considered same